<div class="container">
    <h1 class="my-5 text-center">Hit the Road <br>Register and Explore Car Rentals</h1>
    <form [formGroup]="addCustomerForm" action="" (ngSubmit)="submitFormData()">
        <div class="modal-body">
            <div class="form-group form-floating mb-3 mt-3">
                <input type="text" formControlName="firstName" class="form-control" name="firstName" id="firstName" placeholder="Enter first name.." required>
                <label for="firstName">First Name</label>
    
                <div *ngIf="addCustomerForm.controls['firstName'].invalid && addCustomerForm.controls['firstName'].touched" class="text-danger">
                  <div *ngIf="addCustomerForm.controls['firstName'].hasError('required')">First name is required.</div>
                  <div *ngIf="addCustomerForm.controls['firstName'].hasError('minlength')">First name should be at least 2 characters long.</div>
                </div>
            </div>
            <div class="form-group form-floating mb-3 mt-3">
                <input type="text" formControlName="lastName" class="form-control" name="lastName" id="lastName" placeholder="Enter last name.." required>
                <label for="lastName">Last Name</label>
    
                <div *ngIf="addCustomerForm.controls['lastName'].invalid && addCustomerForm.controls['lastName'].touched" class="text-danger">
                  <div *ngIf="addCustomerForm.controls['lastName'].hasError('required')">Last name is required.</div>
                  <div *ngIf="addCustomerForm.controls['lastName'].hasError('minlength')">Last name should be at least 2 characters long.</div>
                </div>
            </div>
            <div class="form-group form-floating mb-3 mt-3">
                <input type="email" formControlName="email" class="form-control" name="email" id="email" placeholder="Enter email.." required>
                <label for="email">Email</label>
    
                <div *ngIf="addCustomerForm.controls['email'].invalid && addCustomerForm.controls['email'].touched" class="text-danger">
                  <div *ngIf="addCustomerForm.controls['email'].hasError('required')">Email is required.</div>
                  <div *ngIf="!addCustomerForm.controls['email'].hasError('required') && addCustomerForm.controls['email'].hasError('invalidEmail')">Invalid email address.</div>
                  <div *ngIf="addCustomerForm.controls['email'].hasError('emailTaken')">Email is already taken.</div>
                </div>
    
            </div>
            <div class="form-group form-floating mb-3 mt-3">
              <input type="text" formControlName="phone" class="form-control" name="phone" id="phone" placeholder="Enter phone.." required>
              <label for="phone">Phone</label>
    
              <div *ngIf="addCustomerForm.controls['phone'].invalid && addCustomerForm.controls['phone'].touched" class="text-danger">
                <div *ngIf="addCustomerForm.controls['phone'].hasError('required')">Phone is required.</div>
                <div *ngIf="!addCustomerForm.controls['phone'].hasError('required') && addCustomerForm.controls['phone'].hasError('invalidPhoneLength')">Phone number must contain exactly 10 digits.</div>
                <div *ngIf="addCustomerForm.controls['phone'].hasError('pattern')">Invalid phone number. Only numbers are allowed.</div>
              </div>
          </div>
        </div>      
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="addCustomerForm.invalid">Register</button>
        </div>
    </form>
</div>