<div class="container d-flex justify-content-center align-items-center mt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide w-50" data-bs-ride="carousel">
        <h1 class="text-center"><span class="badge bg-secondary">Welcome to RENTCAR</span></h1>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/images/logo3.png" class="d-block w-100" alt="...">
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-lg btn-secondary" routerLink="/vehicles">Start your journey -></button>
        </div>
    </div>
</div>
